:root {
    --bg: #171616;
    --bg-1: #1e1c1c;
    --bg-2: #2e2b2b;
    --fg: #f1e3ce;
    --green: #67e22e;
    --red: #f44336;
    --blue: #2196f3;
    --yellow: #ffeb3b;
    --gap: 10px;
    --br: 5px;
    --vertical-input-padding: 0.4rem;
    --horizontal-input-padding: 0.6rem;
    --input-padding: var(--vertical-input-padding) var(--horizontal-input-padding);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--bg);
    color: var(--fg);
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    box-sizing: border-box;
}

body {
    padding: var(--gap);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

input, select, option, button {
    padding: var(--input-padding);
    background: var(--bg-1);
    border: none;
    color: var(--fg);
    border-radius: var(--br);
    font-size: 1rem;
}

button {
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

button:hover {
    background-color: var(--bg-2);
}

.content {
    max-width: min(800px, 100%);
    width: min(800px, 100%);
    max-height: 100%;
    margin: auto;
    padding: var(--gap);
    border: 1px solid var(--fg);
    border-radius: calc(var(--br) * 2);
    box-sizing: border-box;
}

.flex, .flex-v {
    display: flex;
    gap: var(--gap);
}

.flex-v {
    flex-direction: column;
}

.word-list {
    overflow-y: auto;
    max-height: min(200px, 30dvh);
    background: var(--bg-1);
    border-radius: var(--br);
    padding: var(--input-padding);
}

.full-width {
    width: 100%;
}

.material-symbols-outlined {
    font-size: 1em !important;
}

.spinner-container {
    margin: auto;
}

.spinner {
    --spinner-size: 1em;
    --translation-size: calc(var(--spinner-size) / 2 - var(--spinner-size) / 10);
    height: var(--spinner-size);
    width: var(--spinner-size);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner > div {
    box-sizing: border-box;
    position: absolute;
    width: 20%; /*This size will affect the distance of the dots from the center.*/
    height: 20%; /*Should be the same as the width.*/
    border-radius: 50%;
    background-color: var(--fg);
    animation: spinning-circle 1.4s linear infinite;
}

@keyframes spinning-circle {
    0% {
        transform: rotate(0deg) translate(var(--translation-size)) rotate(0deg) scale(0.5);
    }
    50% {
        transform: rotate(240deg) translate(var(--translation-size)) rotate(-240deg) scale(1);
    }
    100% {
        transform: rotate(360deg) translate(var(--translation-size)) rotate(-360deg) scale(0.5);
    }
}

.spinner > div::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: var(--fg);
    border-radius: 100%;
}

.progress_activity .material-symbols-outlined {
    animation: progress-activity 1s infinite linear;
}

@keyframes progress-activity {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.word-list:empty {
    height: 0;
    padding: 0;
}

.word {
    font-size: 0.8em;
    justify-content: space-between;
}

.word-text.new {
    color: var(--green);
}

.error {
    color: var(--red);
    font-size: 0.8em;
}

.align-content {
    align-items: center;
}

label {
    font-size: 0.8em;
}

.space-between {
    justify-content: space-between;
}

.text-small {
    font-size: 0.8em;
}

.wrap {
    flex-wrap: wrap;
}

.icon-button {
    position: relative;
}

.recording {
    background: var(--red);
}

.icon-button .material-symbols-outlined {
    z-index: 2;
}

.vertical-gauge {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--fg);
    opacity: 0.5;
    border-radius: var(--br);
    z-index: 0;
    pointer-events: none;
}

.level {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--blue);
    z-index: 1;
    pointer-events: none;
}

.hover-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    max-width: min(50dvw, 300px);
    background: var(--bg-2);
    border-radius: 0 var(--br) var(--br) var(--br);
    padding: var(--input-padding);
    z-index: 2;
    font-size: 0.8em;
}

.hover-info {
    position: relative;
    padding: var(--input-padding);
    background: var(--bg-1);
    border-radius: var(--br);
    cursor: help;
}

.hover-info:hover {
    background: var(--bg-2);
    border-radius: var(--br) var(--br) 0 0;
}

.hover-info:hover .hover-text {
    display: block;
}

.icon-button.positive .material-symbols-outlined {
    color: var(--green);
}